@page
@model IndexModel
@{
    ViewData["Title"] = "Products list";
}

<h2>Products List</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
        </tr>
    }
    </tbody>
</table>

<a href="./Create">Add a new product</a>